main {
    position: relative;
    width: 600px;
    height: 600px;
    /* background-color: coral; */
}

.box {
    background-color: green;
    width: 300px;
    height: 300px;
    /* transform: scale(5);
    transform-origin: 0 0;
    opacity: 0.1; */
    /* transform: rotate(45deg); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.300);
    transition: transform 500ms;
    /* background-image: url(https://plus.unsplash.com/premium_photo-1675271988124-55694ef43fd4?q=80&w=909&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px 20px;
}

.box:hover {
    background-color: blueviolet;
    transform: translate(-50% ,-50%) rotate(45deg) scale(1.4);
}
h1{
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.562);
}