.one {
  background-color: aquamarine;
  width: 300px;
  padding: 25px;
  border: 50px darkgreen solid;
  margin: 50px;
  /* box-sizing: border-box; */
}

.two {
  width: 300px;
  height: 300px;
  padding: 25px;
  border: 5px solid hotpink;
  border-radius: 50%;
  overflow: hidden;
  background-color: blueviolet;
  outline: 100px solid greenyellow;
  /* box-sizing: border-box; */
}

img {
  margin-left: -19px;
  width: 118%;
  height: 121%;
  margin-top: -28px;
}
#grad1 {
  background-image: linear-gradient(to bottom right, aquamarine, violet);
}

body {
  margin: 0px;
}
