.html {
    color: #DD4B25;
} 

.css {
    color: #2962E8;
}

.js {
    color: #D7BC38;
}

.bt {
    color: #528ea5;
}

#html {
    font-size: 32px;
}

#css {
    font-size: 32px;
}

#js {
    font-size: 32px;
}

#bt {
    font-size: 32px;
}