/* li#html.html {
  color: magenta;
}

#html {
  color: darkgreen;
}

li {
  color: antiquewhite;
  background-color: brown;
}

li {
  color: hotpink;
}

.html {
  color: blue;
}

#html#html#html {
  color: red;
} */