.inika-regular {
	font-family: "Inika", serif;
	font-weight: 400;
	font-style: normal;
}

.inika-bold {
	font-family: "Inika", serif;
	font-weight: 700;
	font-style: normal;
}

*{
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #decdac;
	font-family: "Inika", serif;
	font-weight: 400;
	font-style: normal;
}

.button {
	position: absolute;
	width: 285px;
	height: 64px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	border:none;
	background-color: #EBBF53;
	border-radius: 32px;
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	color:#FEFAF3;
}

.btn-container {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 485px;
	height: 245px;
	background-color: #fefaf3;
	border-radius: 28px;
}

.popup-container {
	position: fixed;
	inset: 0;
	pointer-events: none;
}

.pop-up {
	position: absolute;
	display:flex;
	width: 690px;
	height: 350px;
	padding:16px;
	background-color: white;
	border-radius: 28px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.25s ease-in-out;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.popup-opened .pop-up {
	display: block;
	transform: translate(-50%, -50%) scale(1);
}

.close-icon {
	position: absolute;
	font-size: 32px;
	right: 26px;
	top:12px;
	color: #afa187;
	cursor: pointer;
}


.pop-up img {
	max-width: 213px;
}

img {
	width: 100%;
	margin-left: 52px;
	margin-top: -48px;
}

.message{
	position: absolute;
	top:36px;
	right:18px;
	display:flex;
	flex-direction: column;
	text-align: justify;
}
h2{
	margin:0;
	font-family: "Inika", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}
.message p{
	font-size: 18px;
}

.input{
	display:flex;
	justify-content: center;
	padding-inline:24px;
	margin-inline: auto;
	width: 560px;
	height: 56px;
	margin-top:60px;
}

.input-field{
	width: 380px;
	height: 56px;
	padding-left: 16px;
	border: 1px solid #AFA187;
	background-color: #EEE8DD;
	border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
}

.input-msg{
	padding-left: 16px;
	width:180px;
	color: #afa187;
	height: 56px;
	background-color: #EBBF53;
	border: 1px solid #EBBF53;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
}

.input-msg p{
	font-family: "Heebo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color:#FEFAF3;

}

.popup-container.popup-opened {
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.4);
}
