.container {
	display: flex;
    flex-wrap: wrap  ;
    gap: 5px;
	color: green;
}

/* .card {
	height: 50px;
	width: 60px;
	background-color: cadetblue;
    display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	color: brown;
} */


.image-div{
	text-align: center;
	background-color: blanchedalmond;
	border: 2px solid black;
	border-radius: 4px;
}

.image-div p{
	background-color: cornsilk;
}