div {
    position: relative;
    background-color: chartreuse;
    inset: 25px; /*inset attribute gives the ability to set all four edges at once that is top, right, bottom and left. */
}

ul {
    position: relative;
    background-color: crimson;
    top: 10px;
}
.css-element {
    background-color: aquamarine;
    position: absolute;
    top: 50px;
    right: 10px;
    left: 10px;
    /* bottom: 10px; */
    /* position absolute takes the position from its relative position or viewport if it has none and both left and right position works at the same time*/
}

.js-element{
    background-color: darkorange;
    /* position: fixed; */
    top: 10px;
    left: 10px; 
    right: 10px;
}

header {
    position: sticky;
    background-color: chocolate;
    top: 0;
}